<template>
  <div>
    <!-- **** START MENU ***** -->
    <nav class="menu" tabindex="0">
      <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSSvqirh2V1J83ymbcmPWRRay0zYizxqJJb1g&usqp=CAU"
        />
      </header>
      <ul>
        <li tabindex="0" class="icon-settings">
          <span>
            <a href="https://rawg.io/apidocs">APis</a>
          </span>
        </li>
        <li tabindex="0" class="icon-dashboard">
          <span>
            <router-link to="/">
              <a>Home</a>
            </router-link>
          </span>
        </li>
      </ul>
    </nav>
    <!-- **** END MENU ***** -->
    <main>
      <!-- **** START BANNER ***** -->
      <div class="welcome-banner">
        <img
          src="https://steemitimages.com/DQmb6hzryhkVn9DrYbForL58QfBozriyHvVbekgSeb2tU6B/rawg%20icon.jpg"
          class="rawg-img"
        />
        <span class="title-banner">
          Information
          <span class="txt-collected">collected</span> by:
        </span>
      </div>
      <!-- **** END BANNER ***** -->
      <!-- **** START CONTAINER ***** -->
      <div class="container" id="contenedor">
        <h2>RAWG APi</h2>
        <div class="row">
          <div
            class="col-sm-12 col-lg-4 col-md-4 div-container"
            v-for="info in info"
            :key="info.id"
          >
            <div class="card">
              <span class="txt-update">{{ info.released }}</span>
              <span class="title">{{ info.name }}</span>

              <div class="row">
                <div class="col-lg-12">
                  <img :src="info.background_image" class="img-card" />
                </div>
                <div class="col-lg-6">
                  <div v-for="genres in info.genres" :key="genres.id">
                    <img :src="genres.image_background" class="img-genres" />
                    <span class="txt">{{ genres.name }}</span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <button class="btn btn-outline-success ml-auto metascore">{{ info.metacritic }}</button>
                </div>
              </div>

              <br />
              <div class="footer-card">
                <span class="txt-footer">
                  <img src="https://img.icons8.com/color/48/000000/christmas-star.png" class="star" />
                  {{ info.rating }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- **** END CONTAINER ***** -->
    </main>
    <!-- **** START COMPONENT FOOTER ***** -->
    <Footer></Footer>
    <!-- **** END COMPONENT FOOTER ***** -->
  </div>
</template>
<script>
import axios from "axios";
import Footer from "@/components/Footer.vue";

export default {
  name: "dashboard",
  components: {
    Footer,
  },

  data() {
    return {
      info: null,
    };
  },
  mounted() {
    this.getGame();
  },
  methods: {
    async getGame() {
      axios
        .get("https://api.rawg.io/api/games")
        .then((response) => {
          this.info = response.data.results;
          if (response.status == 200) {
            console.log("Petición exitosa");
          } else {
            alert("error en la petición al servidor");
          }
        })
        .catch((e) => console.log(e));
    },
    logout() {
      this.$router.push({ path: "/" });
    },
  },
};
</script>
<style scoped lang="scss">
@import "../assets/main.css";
@import "../assets/index.css";
</style>
