@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);

*, *:before, *:after {
    box-sizing: border-box;
    font-family: "Poppins" !important;
  }
body {
    background: rgb(35 53 64) !important;
    margin: 0;
    font-family: "Poppins";
    padding-left: 240px;
}
h2{
    padding-top: 15%;
    text-align: center;
    display: block;
    padding-bottom: 0%;
    color: #98ca3f !important;
    margin-bottom: 0px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important;

  }
/* START CONTAINER DIV */
.container{
    height: 100vh;
    width: 100% !important;
}
.div-container{
    margin: auto;
    display: block;
}
/* END CONTAINER DIV */
/* START BANNER */
.welcome-banner{
    padding-top: 3%;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(180deg,#98ca3f,#98ca3f);
}
.title-banner{
    font-weight: 900 !important;
    font-size: 20px;
    padding-right: 20px;
    float: right;
    z-index: 2;

}
.txt-collected{
    font-weight: 300 !important;
}
.rawg-img{
    width: 11%;
    margin: auto;
    display: inline-block;
    float: right;
    margin-top: -3%;
}
/* END BANNER */

/* START CARD DIV */
.card {
    width: 100% !important;
    padding-bottom: 10%;
    margin-top: 5%;
    height: 67vh;
    margin-bottom: 5%;
    background: #1b2a33 !important;
    border: 1px solid rgb(0 0 0 / 1%) !important;
    border-radius: 10px !important;
}

.metascore {
    color: #98ca3f !important;
    width: 50%;
    border: 1px solid #98ca3f !important;
    background:none !important;
    margin-right: 5%;
    float: right;
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important;
    font-size: 11px !important;

}
.btn{
   background: none !important; 
   border: 1px solid #98ca3f !important;
}
.metascore:hover {
    color: #fff;
    background-color:#1b2a33 !important;
    border-color: #98ca3f;
}
.metascore:active {
    color: #fff;
    background-color:#1b2a33 !important;
    border-color: #98ca3f;
}
.rating{
    margin-top: 5%;
}
.title-courses{
    color: #98ca3f;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    display: block;
}
.text-show{
    display: block;
}
.text-hide{
    display: none;
}
.title{
    color: #d2d2d2;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.txt{
    color: #7b8084;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    font-weight: bold;
}
.txt-update{
    color: #7b8084;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.img-card{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.img-genres{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-left: 3%;
}
.img-name{
    width: 10%;
}
.star{
    width: 20%;
    margin-right: 3%;
    position: absolute;
    left: 10%;
    top: 15%;

}
.footer-card{
    position: absolute;
    bottom: 0%;
}
.txt-footer{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding-right: 10px;
    padding-left: 24px;
    position: relative;
    font-weight: bold;
}
/* END CARD DIV */

/* START MENU */
.menu ul li span a {
    text-decoration: none !important;
    color: #fff;
}
.menu ul li span {
    color: #fff !important;
    font-size: 15px;
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
}
main .helper {
    width: 100%;
    display: flex;
    align-content: space-around;

}
main .helper span {
    color: rgba(0,0,0,0.2);
    font-size: 0.4em;
    display: block;
}
.menu {
    background: #273b47;
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
}
.menu .avatar {
    background: rgba(0,0,0,0.1);
    padding: 2em 0.5em;
    text-align: center;
}
.menu .avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ffea92;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.2);
}
.menu .avatar h2 {
    font-weight: normal;
    margin-bottom: 0;
    color: #fff;
    font-family: "Poppins";
    font-weight: bold;
    padding-top: 5%;
    font-size: 20px;
}
.menu ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}
.menu ul li {
    padding: 0.5em 1em 0.5em 3em;
    font-size: 0.95em;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
    font-family: 'Poppins', sans-serif !important;

}
.menu ul li.icon-dashboard {
    background-image: url("http://www.entypo.com/images//gauge.svg");
}
.menu ul li.icon-customers {
    background-image: url("http://www.entypo.com/images//briefcase.svg");
}
.menu ul li.icon-users {
    background-image: url("http://www.entypo.com/images//users.svg");
}
.menu ul li.icon-settings {
    background-image: url("http://www.entypo.com/images//tools.svg");
}
.menu ul li:hover {
    background-color: rgba(0,0,0,0.1);
}
.menu ul li:focus {
    outline: none;
}
/* END  MENU */

/* START MEDIAQUERYS */
@media screen and (max-width: 900px) and (min-width: 400px) {
    body {
        padding-left: 0;
   }
    .menu {
        width: 230px; 
        box-shadow: 0 0 0 100em rgba(0,0,0,0);
        transform: translate3d(-230px,0,0);
        transition: all 0.3s ease-in-out;
   }
    .menu .smartphone-menu-trigger {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 100%;
        background: #98ca3f;
   }
    .menu .smartphone-menu-trigger:before, .menu .smartphone-menu-trigger:after {
        content: '';
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
   }
    .menu .smartphone-menu-trigger:after {
        top: 55%;
        transform: translate3d(-50%,-50%,0);
   }
    .menu ul li {
        padding: 1em 1em 1em 3em;
        font-size: 1.2em;
   }
    .menu:focus {
        transform: translate3d(0,0,0);
        box-shadow: 0 0 0 100em rgba(0,0,0,0.6);
   }
    .menu:focus .smartphone-menu-trigger {
        pointer-events: none;
   }

}

@media (device-height: 667px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

    .card {
        width: 100% !important;
        padding-bottom: 10%;
        margin-top: 5%;
        height: 75vh;
        margin-bottom: 5%;
        background: #1b2a33 !important;
        border: 1px solid rgb(0 0 0 / 1%) !important;
        border-radius: 10px !important;
    }
    h2{
        padding-top: 25%;
        text-align: center;
        display: block;
        padding-bottom: 0%;
        color: #98ca3f !important;
        margin-bottom: 0px !important;
      }
      .card{
          height: 55vh;
      }
      .metascore {
        width: 30%;
        margin-top: -10%;
    }
    }
    
  
/* START MEDIAQUERYS MOBILES */
@media only screen and (min-width: 320px) and (max-width: 768px) {   
    .welcome-banner {
        padding-top: 5%;
        z-index: 1;
        position: absolute;
        width: 100%;
        background-image: linear-gradient(180deg,#98ca3f,#98ca3f);
    }
    .title-banner{
        font-size: 15px;
    }
     h2{
        padding-top: 25%;
        text-align: center;
        display: block;
        padding-bottom: 0%;
        color: #98ca3f !important;
        margin-bottom: 0px !important;
      }
      .card{
          height: 60vh;
      }
      .metascore {
        width: 30%;
        margin-top: -10%;
    }
}

@media screen and (max-width: 400px) {
    .card{
        height: auto;
    }
    .txt-footer{
        padding-left: 30px;
    }
    .metascore {
        width: 30%;
    }
    .star{
        width: 23%;
        margin-right: 3%;
        position: absolute;
        left: 17%;
        top: 0%;
    }
    h2{
        padding-top: 25%;
        text-align: center;
        display: block;
        padding-bottom: 0%;
        color: #98ca3f !important;
        margin-bottom: 0px !important;
      }
    body {
        padding-left: 0;
   }
    .menu {
        width: 230px; 
        box-shadow: 0 0 0 100em rgba(0,0,0,0);
        transform: translate3d(-230px,0,0);
        transition: all 0.3s ease-in-out;
   }
    .menu .smartphone-menu-trigger {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 100%;
        background: #98ca3f;
   }
    .menu .smartphone-menu-trigger:before, .menu .smartphone-menu-trigger:after {
        content: '';
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
   }
    .menu .smartphone-menu-trigger:after {
        top: 55%;
        transform: translate3d(-50%,-50%,0);
   }
    .menu ul li {
        padding: 1em 1em 1em 3em;
        font-size: 1.2em;
   }
    .menu:focus {
        transform: translate3d(0,0,0);
        box-shadow: 0 0 0 100em rgba(0,0,0,0.6);
   }
    .menu:focus .smartphone-menu-trigger {
        pointer-events: none;
   }
   /* END MEDIAQUERYS MOBILES */
}
/* END MEDIAQUERYS */